<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
        version="6.0"
>
    <display-name>First App</display-name>

    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>by.it_academy.jd2.Mk_JD2_103_23.HelloWorldServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>

</web-app>